:root {
  --color-decor: #ff0070;
  --color-title-shadow: #ff0070;
  --color-title: #db00ff;
  --color-accent: #ff0070;
  --color-link: #ff0070;
  --color-subtitle-accent: #ff0070;
  --color-subtitle: #000028;
  --color-background: #000028;
  --color-text: #f1b2ce;
  --color-button-hover: #ff007066;

  --image-background: url(../images/cover-image-dark.png);

  --font-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  --margin-block-end-header: 60px;
  --margin-block-start-footer: 58px;
  --margin-inline-page: clamp(10px, 2.6vw, 20px);

  --inset-decorated-before-block: 20px;
  --inset-decorated-before-inline: 20px;
  --inset-decorated-after-block: 20px;
  --inset-decorated-after-inline: 20px;
}

@media (width < 1024px) {
  :root {
    --inset-decorated-before-block: 979px;
  }
}

@media (width < 768px) {
  :root {
    --font-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

    --margin-block-end-header: 39px;
    --margin-block-start-footer: 41px;

    --inset-decorated-before-block: 633px;
    --inset-decorated-before-inline: 10px;
    --inset-decorated-after-block: 10px;
    --inset-decorated-after-inline: 10px;
  }
}
